@import "tailwindcss";

.color {
    opacity: 0.5;
    transition: opacity 0.5s;
    height: 300px;
    width: 700px;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}