.color {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}